.container-equipo {
    margin-top: 6vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8vh 1fr;
    grid-gap: 3px 0;
    grid-auto-flow: row;
    width: 100%;
    grid-template-areas:
        "equipo-grid equipo-grid equipo-grid equipo-grid equipo-grid equipo-grid"
        "grid-Vacio lista-jugadores-grid lista-jugadores-grid lista-jugadores-grid lista-jugadores-grid lista-jugadores-grid";
    font-size: 1.2rem;
    color: beige;
}

.equipo-grid {
    grid-area: equipo-grid;
    border-radius: 15px;
    margin-left: 15px;
    z-index: -50;
}

.grid-Vacio {
    grid-area: grid-Vacio;
}

.lista-jugadores-grid {
    grid-area: lista-jugadores-grid;
    border-radius: 0 15px 15px 15px;
    z-index: -1;
    padding:15px;
}

.lista-jugadores-grid li, .lista-jugadores-grid span {
    font-size: 0.8rem;
    padding:3px;
}


.sombraEquipo {
    box-shadow: 1px 1px 5px -2px rgba(0,0,0,1);
}

.avatar-equipo {
    position: absolute;
    top: -2vh;
    left: 0;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0px 0px 12px 7px rgba(122,7,122,1);
    background-color:white;
}
    .avatar-equipo img {
        width: 100%;
        height: 100%;
        z-index: 101;
        padding: 3px;
    }

.flex-equipo {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0;
    margin-left: 13vh;
}

    .flex-equipo span:nth-child(1) {
        width: 80%;
    }

    .flex-equipo span:nth-child(2) {
        font-size: 1.2rem;
        color: #bd0000;
        font-weight: 500;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background-color: beige;
        border: 4px solid #bd0000;
        text-align: center;
        vertical-align: middle;
    }


.color-fondo-equipo {
    background: linear-gradient(90deg, rgba(22,0,36,0.9276960784313726) 0%, rgba(97,9,121,0.8968837535014006) 35%, rgba(245,83,220,0.9080882352941176) 100%);
}

.displayEdit{
   position:absolute;
   right:15px;
   bottom: 15px;
   color:white;
   z-index:100;
}

.displayEdit span {
    font-size: 1.5rem;
}