:root {
    --colorGreenGlobo: #2fd65c;
}
.center-div-screen  {
    padding: 5px;
    height: 50%;
    width: 80%
}

input[type="file"] {
    display: none;
    z-index:100;
}

.custom-file-upload-banner label {
    z-index: 100;
}

.custom-file-upload-banner, .custom-file-upload-logo {
    position: absolute;
    border: none;
    display: inline-block;
    padding: 1.2vw;
    cursor: pointer;
    background-image: url("/imagenes/upload.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
    width: 30px;
    height: 30px;
    z-index: 100 !important;
}

.custom-file-upload-banner {
    left: 80%;
    top:160px;
}

.custom-file-upload-banner:hover, .custom-file-upload-logo:hover {
    opacity: 0.7;
}



.custom-file-upload-logo {
    position:absolute;
    left: 33px;
    top: -5px;
}

.dosEnLinea{
    display:flex;
    justify-content:space-between !important;
}

.card-general {
    width: 100%;
    box-shadow: 1px 1px 5px -2px rgba(0,0,0,1);
    border-radius: 15px;
    color: darkslateblue;
    padding: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 0.8rem;
}
.card-general-transparente {
   background-color: transparent;
}

.card-general p {
    margin:0;
}
.vinieta-datos {
    color: orangered;
    font-weight: bold;
}

.card-iconos-padding{
    display:flex;
    justify-content:space-between;
    padding:7px;
}

.color-lila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, rgba(22,0,36,0.9276960784313726) 0%, rgba(97,9,121,0.8968837535014006) 62%, rgba(152,36,158,1) 81%, rgba(191,61,171,0.9080882352941176) 100%);
    color: beige;
}

.flecha-small{
    height:30px;
    width:30px;
}
.tamanioTotal {
    height: 100%;
    width:auto;
}

.contenedor-imagen-lista {
    width: 50%;
    box-shadow: 1px 1px 18px 4px #000000;
    border-radius: 25px;
}

.imagen-100-lista {
    width: 100%;
    border-radius: 25px;
}

.color-lila > span {
    text-align: center;
    font-size: 1.5rem;
}

.tamanioIcono {
    font-size: 1.3rem;
}

.animated-gradient {
    animation: animateBg 3s linear infinite;
    background-image: linear-gradient(90deg,#4e1a5f,#bc46ae,#685c93,#4e1a5f,#bc46ae);
    background-size: 400% 100%;
}

@keyframes animateBg {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes textoAnimado  {
    0% {
        font-size: 0.8rem;
    }

    50% {
        font-size: 1.2rem;
    }
    100% {
        font-size: 0.8rem;
    }
}
.animacionInscripcion {
    animation: textoAnimado 2s linear infinite;
    color:orange;
}


.font-size-small{
    font-size: 0.8rem;
}

.font-size-medio {
    font-size: 1.2rem;
}

.font-size-grande {
    font-size: 1.5rem;
}

.font-size-grande-medio {
    font-size: 2.5rem;
}

.font-size-grande-extra {
    font-size: 3.5rem;
}

.imagen-adaptada{
    width:60%;
    height:auto;
}

.globo-propiedad {
    color: white;
    background-color: var(--colorGreenGlobo);
    padding: 2px;
    border-radius: 5px;
}

.icono-small {
    width: 30px;
    height: auto;
}

table tr {
    text-align: center;
}

table tr:nth-child(1) {
    background-color: var(--colorGreenGlobo);
    border-radius:15px;
    color:white;
}
.color-redorange-vista{
    color: orangered;
}




.equipo-file-upload-logo {
    position: absolute;
    border: none;
    display: inline-block;
    padding: 1.2vw;
    cursor: pointer;
    background-image: url("/imagenes/upload.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
    width: 30px;
    height: 30px;
    z-index: 100;
    left: 5px;
    top: 0;
}

.color-purpura{
    background-color: purple;
    color:white;
}

.color-violet {
    background-color: #e7dfed;
}

.tabla-equipo th, .tabla-equipo td{
    padding: 5px 0; 
}
.tabla-equipo th {
    background-color: forestgreen;
}

.tabla-equipo tr:nth-child(odd) {
    background-color: #ebebeb;
}

.color-verde {
    color: blue;
}

.color-rojo{
    color: red;
}

.card-general h5{
    text-align:center;
}

.h2-panelpago {
    color: white;
    background-color: mediumpurple;
    border-radius: 5px 60px 5px 60px;
    padding: 20px;
}
.h4-vis-grupos {
    color: white;
    background-color: mediumpurple;
    border-radius: 5px 60px 5px 60px;
    padding: 7px;
    text-align:center;
}


.imagen-100{
    width:100%;
    height:auto;
}

.boxCenterPantalla {
    height: 90vh;
    width: 100vw
}

.color-purpura-h3{
    color:purple;
}

.listaBox {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    /* border: 1px solid #abdeb3; */
    background-color: var(--colorGreenGlobo);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: snow;
}

.imgCampana {
    height: 40px;
    width: auto;
}
