
.card-centrada {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-torneo {
    position:relative;
    color: red;
    height: 28vh;
    width: 99%;
    box-shadow: 1px 1px 5px -2px rgba(0,0,0,1);
    border-radius: 30px;
}

.img-banner {
    width: 100%;
    height: 17vh;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.info-torneo {
    display: flex;
    flex-direction: row;
    height: 11vh;
    align-items: center;
    justify-content: center;
}

.img-logo {
    width: 12vw;
    height: auto;
    margin: 15px;
}

.logo-container {
    width: 20%;
}

.titulo-container {
    width: 68%;
    margin-left: 10px;
}

    .titulo-container p {
        margin: 3px;
    }

.flecha-container {
    width: 12%;
}

    .flecha-container img {
        width: 60%;
        height: auto;
    }

.titulo-container p:first-child {
    font-size: 1.1rem;
    font-weight: bold;
    color: blue;
}

.titulo-container p:last-child {
    font-size: 0.9rem;
    color: orangered;
}

.suspendido-imagen {
    position:absolute;
    top:0;
    height: 70%;
    width:95vw;
    z-index: 150;
}

.flex-column-customizable {
    height: 100vh;
    width:105vw;
    margin:-30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background: url("/imagenes/fondoGestionEq3.png");
    background-repeat: no-repeat;
    background-size: cover;
}


