.background-image {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/imagenes/backgroundSesion.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.card-login {
    position: relative;
    height: 65%;
    width: 80%;
    margin: 0;
    padding: 10%;
    box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.75);
    border-radius: 7%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
}


.logo-login{
    width:70%;
    height:auto;
    justify-content:center;
}

.center-container-login {
    display: flex;
    justify-content: space-between;
    margin: 3% 0 30px 0;
}

.center-container-logo {
    display: flex;
    justify-content: center;
    margin: 3% 0 30px 0;
}

.link-login {
    position: absolute;
    bottom: 0;
    left: 20%;
    margin-bottom: 20px;
    color: darkslateblue;
}


.logo-login {
    width: 70%;
    height: auto;
    justify-content: center;
}

.link-derecha {
    margin-top:12px;
    display: flex;
    justify-content:end;

}
    .link-derecha a {
        color: darkslateblue;
    }

.mud-input-label-outlined {
    background-color: rgba(255, 255, 255, 0.8) !important;
}


.card-registro {
    position: relative;
    height: 90%;
    width: 80%;
    margin: 0;
    padding: 10%;
    box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.75);
    border-radius: 7%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
}



@media (max-width: 500px) {
    .logo-login {
        width: 90%;
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .logo-login {
        width: 70%;
        height: auto;
        justify-content: center;
    }
}

@media (min-width: 801px) {
    .logo-login {
        width: 50%;
        height: auto;
        justify-content: center;
    }
}


