.bottom-menu, .myHead {
    position: fixed;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #622ea5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:ghostwhite;
   
}

.bottom-menu {
    bottom: 0;
    border-radius: 35px;
    z-index:500;
}

.myHead {
    top: 0;
    border-radius: 0 0 20px 20px;
    color: beige;
    z-index: 200;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button {
    background: none;
    border: none;
    color: beige;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

    .menu-button i {
        margin-bottom: 4px;
    }

.float-right {
    float: right;
}

.size-icon {
    font-size: 22px;
}

.panel-central{
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:space-between;
}
