@page "/EQUIPO/Gestiones"


<div class="flex-column-customizable">
    <div style="width:85vw;margin-bottom:90px;">
        <BotonAnimado Texto="Mis inscripciones" Icono="@Util.IconoInscripcion" OnClick="Ver" />
        <BotonAnimado Texto="Torneos Jugados" Icono="@Util.IconoJugados" OnClick="Ver" />
        <BotonAnimado Texto="Mis Equipos" Icono="@Util.IconoEquipo" OnClick="Ver" />
        <BotonAnimado Texto="Mis Medallas" Icono="@Util.IconoMedalla" OnClick="Ver" />
    </div>
    
</div>



    

@code {




    private void Ver()
    {

    }
}
