@page "/EQUIPO/Gestiones"
@inject NavigationManager _nav
@inject ServicioMenu _servicioMenu

<div class="flex-column-customizable">
    <div style="width:85vw;margin-bottom:90px;">
        <BotonAnimado Texto="Mis inscripciones" Icono="@Util.IconoInscripcion" OnClick="IrAMisInscripciones" />
        <BotonAnimado Texto="Torneos Jugados" Icono="@Util.IconoJugados" OnClick="IrATorneosJugados" />
        <BotonAnimado Texto="Mis Equipos" Icono="@Util.IconoEquipo" OnClick="IrAMisEquipos" />
        <BotonAnimado Texto="Mis Medallas" Icono="@Util.IconoMedalla" OnClick="IrAMisMedallas" />
    </div>
    
</div>



@code {
    protected async override Task OnInitializedAsync()
    {
        _servicioMenu.ActualizarNavegacionPOP(true, false, "/EQUIPO/Principal");
        _servicioMenu.ActualizarTitulo("Gestión");
    }

    private void IrAMisInscripciones()
    {
        _nav.NavigateTo("/EQUIPO/MisInscripciones");
    }

    private void IrATorneosJugados()
    {

    }

    private void IrAMisEquipos()
    {
        _nav.NavigateTo("/EQUIPO/AdminEquipos");
    }

    private void IrAMisMedallas()
    {

    }
}
