@page "/"
@inject ServicioMenu _servicioMenu
@layout LayoutVacio
@inject NavigationManager _nav
@inject ILocalStorageService _localStorage
@inject UsuarioServicio _usuarioServicio
@using System.IdentityModel.Tokens.Jwt
@using System.Text




<div class="background-image">

    <div class="card-login">
        <div class="margen-container-login center-container-login">
            <img src="/imagenes/logoTorneus.png" alt="" class="logo-login" />
        </div>
       
        
        <Boton BackGroungColor="#e0e0e0" ButtonText="Voy a iniciar con Google" ImageUrl="/imagenes/google.png" />

        <MudTextField @bind-Value="usuarioTexto"
                      Label="Usuario"
                      Variant="Variant.Outlined"
                      Margin="Margin.Dense" />


        <MudTextField @bind-Value="passTexto"
                      Label="Contraseña"
                      Variant="Variant.Outlined"
                      InputType="@PasswordInput"
                      Adornment="Adornment.End"
                      AdornmentIcon="@PasswordInputIcon"
                      OnAdornmentClick="ButtonTestclick"
                      AdornmentAriaLabel="Ver contraseña"
                      Margin="Margin.Dense" />
        <div class="center-container-login">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Loguearme</MudButton>
        </div>

         @* <a href="" style="padding:30px">Registrate aqui!!</a>*@
        <MudLink Href="#" Style="display:block">Registrate aqui!!</MudLink>
      
        <a href="" class="link-login">Me olvidé de mi contraseña!!</a>
       
    </div>

</div>



   



@code{
    public string usuarioTexto { get; set; }
    public string passTexto { get; set; }
    bool isShow;
    InputType PasswordInput = InputType.Password;

    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    protected async override Task OnInitializedAsync()
    {
      string token = await _localStorage.GetItemAsync<string>(Util.TOKEN_LOCAL);
      if (!string.IsNullOrEmpty(token))
        {
            UsuarioLogueado usuario = DecodificarUsuarioJWT(token);
            _usuarioServicio.ActualizarUsuarioLogueado(usuario);
            Navegar(usuario.Rol);
        }
    }

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private void Navegar(string rol)
    {
        _nav.NavigateTo($"/{rol}/Principal");
    }

    private UsuarioLogueado DecodificarUsuarioJWT(string token)
    {
        var handler = new JwtSecurityTokenHandler();
        var tokenString = token.Replace("Bearer ", ""); // Si el token incluye el prefijo "Bearer", puedes removerlo aquí

        if (handler.CanReadToken(tokenString))
        {
            var jwtToken = handler.ReadJwtToken(tokenString);
            var claims = jwtToken.Claims;

            // Acceder a los claims del token
            var id = claims.FirstOrDefault(c => c.Type == "IdUsuario")?.Value;
            int idUsuario = Int32.Parse(id);
            var email = claims.FirstOrDefault(c => c.Type == "Email")?.Value;
            var rol = claims.FirstOrDefault(c => c.Type == "Rol")?.Value;

            UsuarioLogueado usuario = new()
            {
                Id = idUsuario,
                Mail = email,
                Rol = rol,
                Token = token
            };
            return usuario;
        }
        else
        {
            return null;
        }
        }
       
}

