@page "/"
@inject ServicioMenu _servicioMenu
@layout LayoutVacio
@inject NavigationManager _nav



<div class="background-image">

    <div class="card-login">
        <div class="margen-container-login center-container-login">
            <img src="/imagenes/logo.png" alt="" class="logo-login" />
        </div>
       
        
        <Boton BackGroungColor="#e0e0e0" ButtonText="Voy a iniciar con Google" ImageUrl="/imagenes/google.png" />

        <MudTextField @bind-Value="usuarioTexto"
                      Label="Usuario"
                      Variant="Variant.Outlined"
                      Margin="Margin.Dense" />


        <MudTextField @bind-Value="passTexto"
                      Label="Contraseña"
                      Variant="Variant.Outlined"
                      InputType="@PasswordInput"
                      Adornment="Adornment.End"
                      AdornmentIcon="@PasswordInputIcon"
                      OnAdornmentClick="ButtonTestclick"
                      AdornmentAriaLabel="Ver contraseña"
                      Margin="Margin.Dense" />
        <div class="center-container-login">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Loguearme</MudButton>
        </div>

         @* <a href="" style="padding:30px">Registrate aqui!!</a>*@
        <MudLink Href="#" Style="display:block">Registrate aqui!!</MudLink>
      
        <a href="" class="link-login">Me olvidé de mi contraseña!!</a>
       
    </div>

</div>



   



@code{
    public string usuarioTexto { get; set; }
    public string passTexto { get; set; }
    bool isShow;
    InputType PasswordInput = InputType.Password;

    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private void Navegar()
    {
        _nav.NavigateTo("/Organizador/Principal");
    }
}

