@page "/"
@inject ServicioMenu _servicioMenu
@layout LayoutVacio
@inject NavigationManager _nav

<h1 class="tituloSesion">Torneus 1.0</h1>

<div class="background-image">

    <Boton BackGroungColor="#e0e0e0" ButtonText="Voy a iniciar con Google" ImageUrl="/img/google.png" />
    <input type="text" placeholder="Ingrese usuario"/>
    <input type="password" placeholder="Ingrese contraseña" />

      
</div>



@code{

    protected async override Task OnInitializedAsync()
    {
      
    }

    private void Navegar()
    {
        _nav.NavigateTo("/Organizador/Principal");
    }
}

