@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>
*@

<Cabecera />
    <main>
        <article class="content px-4">
            <EspacioVertical Altura="70px" />
            @Body
            <EspacioVertical Altura="90px" />
        </article>
    </main>
    <MenuFooter/>

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</div>
