

<button class="image-button" style="background-color: @BackGroungColor">
    <img src="@ImageUrl" alt="Icono" class="icono-boton" />
    <span class="text-boton">@ButtonText</span>
</button>



@code {
    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string BackGroungColor { get; set; }
}
