<div class="myHead">
    <button class="menu-button">
        <i class="fas fa-arrow-left size-icon"></i>
    </button>
    <div class="menu-title">
        <span>Título</span>
    </div>
    <button class="menu-button">
        <i class="fas fa-bell size-icon"></i>
    </button>
</div>
@code {

}
