@inject ServicioMenu _servicioMenu
@inject UsuarioServicio _usuarioServicio
@inject NavigationManager _nav
@inject ILocalStorageService _localStorage



<div class="myHead">
    @if (_servicioMenu.navegacionPop.BotonAtrasHabilitado)
    {
        <button class="menu-button" @onclick="IrAtras">
            <i class="fas fa-arrow-left size-icon"></i>
        </button>
    }
    else
    {
        <button class="menu-button" @onclick="IrAtras">
            <i class=""></i>
        </button>
    }

    <section class="panel-central">
        <div class="menu-title">
            <span>Hola @_usuarioServicio.ObtenerUsuarioLogueado().Mail</span>
        </div>

        <div class="menu-title">
            <span>@_servicioMenu.Titulo</span>
        </div>
    </section>
  
    <button class="menu-button">
        <i class="fas fa-bell size-icon"></i>
    </button>
</div>



@code {
    private string Titulo = "";

    protected async override Task OnInitializedAsync()
    {
        _servicioMenu.OnActualizarMenu += Actualizar;
    }

    private async void IrAtras()
    {
        if (_servicioMenu.navegacionPop.EsPaginaPrincipal)
        {
            await _localStorage.RemoveItemAsync(Util.TOKEN_LOCAL);
            _nav.NavigateTo(_servicioMenu.navegacionPop.AccionIrAtrasUrl, true);
        }
        else
        {
            _nav.NavigateTo(_servicioMenu.navegacionPop.AccionIrAtrasUrl);
        }

    }

    private void Actualizar()
    {
        StateHasChanged();
    }
}
