@inject ServicioMenu _servicioMenu
@inject NavigationManager _nav

<div class="bottom-menu">

@foreach (var item in Menu)
    {
        <div class="menu-item">
            <button class="menu-button" @onclick="(() => IrUrl(item.UrlLink))">
                <i class="@item.Icono"></i>
                <span>@item.Titulo</span>
            </button>
        </div>

    }

</div>

@code {
    List<MenuItem> Menu = new();

    private void IrUrl(string url)
    {
        _nav.NavigateTo(url);
    }

    protected async override Task OnInitializedAsync()
    {
        _servicioMenu.OnActualizarMenu += ActualizarItemsMenu;
    }
    protected async override Task OnParametersSetAsync()
    {
        ActualizarItemsMenu();
    }

    private void ActualizarItemsMenu()
    {
        Menu = _servicioMenu.ObtenerItemsMenu();
        StateHasChanged();
    }
}
