

<section class="banner-registro">

    <div style="background-image: url('@UrlImagenLogo')">
        <label for="file-upload-logo" class="custom-file-upload-logo"></label>
        <InputFile OnChange="@SubirImagenLogo" accept="image/*" id="file-upload-logo" />
    </div>

    <div style="background-image: url('@UrlImagenBanner');">
        
    </div>
</section>

<div class="banner-upload">
    <label for="file-upload-banner" class="custom-file-upload-banner"></label>
    <InputFile OnChange="@SubirImagenBanner" accept="image/*" id="file-upload-banner" />
</div>


@code {
    [Parameter] public string UrlImagenBanner { get; set; }
    [Parameter] public string UrlImagenLogo { get; set; }
    [Parameter] public EventCallback<Util.TipoImagen> SubirImagen { get; set; }

    private async void SubirImagenBanner()
    {
        await SubirImagen.InvokeAsync(Util.TipoImagen.BANNER);
    }

    private async void SubirImagenLogo()
    {
        await SubirImagen.InvokeAsync(Util.TipoImagen.LOGO);
    }


}
