

<section class="banner-registro">

    <div style="background-image: url('pelota voley.png')">
    </div>

    <div style="background-image: url('banner.png');">

        <p>presione en el circulo para elegir el logo</p>
        <p>presione aqui para elegir el banner</p>

    </div>
</section>

@code {

}
