@page "/ORGANIZADOR/Mercadopago"
@layout LayoutVacio
@inject IConfiguration _config
@inject NavigationManager _nav
@inject MedioPagoServicio _servicioMedioPago
@inject UsuarioServicio _servicioUsuario
@inject ILocalStorageService _localStorage

<div style="height:80vh;width:100vw;display:flex;justify-content:center;align-items:center;flex-direction:column">
        <img src="/imagenes/@imagenPortada" style="width:80%;height:auto"/>
        <h3 style="color:red;width:80%;font-size:2rem">@mensaje</h3>
        <h4 style="color:red;width:80%;font-size:2rem">Redireccionando...</h4>
</div>


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string code { get; set; }

    private string mensaje ="";
    private string imagenPortada = "";

    protected async override Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(code))
        {
            await AsignarVendedorMakertPlace();
        }
    }



    private async Task AsignarVendedorMakertPlace()
    {
        try
        {
            var usuarioLogueado = await _localStorage.GetItemAsync<UsuarioLogueado>(Util.TOKEN_LOCAL);

            _servicioUsuario.ActualizarUsuarioLogueado(usuarioLogueado);

            bool tokenVendedorGuardado = await _servicioMedioPago.ImplementarMercadoPagoVendedor(code, usuarioLogueado.Id, usuarioLogueado.Token);

            if (tokenVendedorGuardado)
            {
                mensaje = "Mercadopago integrado correctamente.";
                imagenPortada = "exitoso.png";
                await _localStorage.RemoveItemAsync($"{Util.HABILITACION_MARKETPLACE}-{usuarioLogueado.Id}");
            }
            else
            {
                mensaje = "Algo salió mal. No se pudo integrar mercadopago";
                imagenPortada = "error_integracion.png";
            }
        }
        catch (Exception ex)
        {

            mensaje = ex.Message;
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(5000);
        NavegarPrincipal();
    }

    private void NavegarPrincipal()
    {
        _nav.NavigateTo("/", true);
    }


}
