@page "/ORGANIZADOR/Mercadopago"
@layout LayoutVacio
@inject IConfiguration _config
@inject NavigationManager _nav
@inject MedioPagoServicio _servicioMedioPago
@inject UsuarioServicio _servicioUsuario
@inject ILocalStorageService _localStorage


<h3>@mensaje</h3>


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string code { get; set; }

    private string mensaje ="";

    protected async override Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(code))
        {
            await AsignarVendedorMakertPlace();
        }
    }



    private async Task AsignarVendedorMakertPlace()
    {
        try
        {
            var usuarioLogueado = await _localStorage.GetItemAsync<UsuarioLogueado>(Util.TOKEN_LOCAL);

            mensaje = usuarioLogueado.Id.ToString();
            _servicioUsuario.ActualizarUsuarioLogueado(usuarioLogueado);

            bool tokenVendedorGuardado = await _servicioMedioPago.ImplementarMercadoPagoVendedor(code, usuarioLogueado.Id, usuarioLogueado.Token);

            if (tokenVendedorGuardado)
            {
                mensaje = "guardado correctamente";
            }
            else
            {
                mensaje = "hubo un error";
            }
        }
        catch (Exception ex)
        {

            mensaje = ex.Message;
        }
       
        

        }

    }


}
